@mixin my-padding-mixin($some-number) {
  padding: $some-number;
}

.header {
  @include my-padding-mixin(10px);
  overflow: hidden;
  height: 60px;
  background-color: #303030;
}

@media (max-width: 749px) {
  // @include upgrade_to_centered();
  .header .logo {
    width: 137px;
    height: 38px;
    object-fit: contain;
  }
}

.header-right {
  float: right;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  width: 158px;
  height: 19px;
  font-family: Montserrat;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

@media (max-width: 749px) {
  // @include upgrade_to_floating(100px, $retina-test-border, $retina-test-border, 80%, 0px, 10px, 80px, 3px, 30px, 0px, 20px, 14px);
  @include my-padding-mixin(15px);
}
  
@media (min-width: 750px) and (max-width: 1049px) {
  // @include upgrade_to_floating(100px, $retina-test-border, $retina-test-border, 80%, 0px, 10px, 80px, 3px, 30px, 0px, 20px, 14px);
  .header .logo {
    padding: 10px 0px 0px 60px;
    width: 137px;
    height: 38px;
    object-fit: contain;
  }
}
  
@media (min-width: 1050px) {
  // @include upgrade_to_floating(100px, $retina-test-border, $retina-test-border, 70%, 0px, 15px, 100px, 5px, 40px, 0px, 25px, 16px);
  @include my-padding-mixin(95px);
  .header .logo {
    padding: 10px 0px 0px 60px;
    width: 137px;
    height: 38px;
    object-fit: contain;
  }
}